
html{
	height: 100%
}
body{
	height: 100%;
	font-size: 18px;
	 letter-spacing: 0.2rem;
	background-color: #fff;
	font-family: 'Fira Sans', sans-serif;
}

li ul {list-style-type:none};

*{
	margin: 0;
	padding: 0;
	outline: none;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {clear: both;}

.left {float: left}
.right {float: right;}

.container {
	width: 960px;
	margin: 0 auto;
}


	/* .........................................

		HEADER   

		.......................................... */

#header{
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;

}

.nav {
	float: right;

}
.nav li{
	float: left;
	margin: 10px;
	list-style-type: none;

}

.nav a{
	color:#fff;
	transition: 0.2s;
	font-family: 'Russo One', sans-serif;
	font-weight: 300;
	text-decoration: none;
	margin-right: 25px;

}

.nav a:hover{
	color: #c61717;
	padding: 10px;
	transition: 0.2s;
	
}

.nav-social{
	float: left;
}
.nav-social li{
	float: left;
	margin: 10px;
	list-style-type: none;

}
.nav-social a{

	color:#fff;
	transition: 0.2s;
	text-decoration: none;
}
.nav-social a:hover{

color: #c61717;


}
#home{
	height: 100vh;
	padding-top: 100px;
	text-align: center;
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#home h1{
	font-size: 120px;
	font-family: 'Russo One', sans-serif;
	margin-bottom: 20px;
	letter-spacing: 0.7rem;
}
#home h3{
	font-size: 28px;
	font-family: 'Caveat', cursive;
	letter-spacing: 0.7rem;
	margin-top: -20px;
}




/* -----------------------------------------------

                  О НАС

---------------------------------------------------
 */
#about-us{
	margin-top: 10px;
}
 #pic {
    float: right; /* Обтекание картинки текстом */
   }
   #text {
   line-height: 1.7;

   }




/* -----------------------------------------------

                  ПОРТФОЛИО

---------------------------------------------------
 */
.portfolio {
    margin-top: -40px;
	text-align: center;
}
.section-header {

	font-size: 90px;
	margin-bottom: 30px;
	font-family: 'Russo One', sans-serif;
	text-align: center;
	color: #333;
	padding-top: 20px;
}
.portfolio img {
	width: 100%;
	height: auto;
	max-width: 360px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
	margin-bottom: 20px;
}
.portfolio-block{
	font-size: 24px;
	line-height: normal;
	
	text-align: center;
	
}
.portfolio a {
	text-decoration: none;
	color: #000;
		border-bottom: 1px solid #fff;
		outline: none;
}
.portfolio a:hover {
	color: #0052c2;
	border-color: rgba(0, 82, 194, 0.3);
	text-decoration: none;

}

.portfolio p{
	font-size: 28px;
}


.modal img {
	width: 100%;
}
.modal-title {
	font-weight: 800;
	font-size: 2rem;
}
.close {
	background-color: transparent;
	border: none;
	font-size: 4rem;
	position: absolute;
	right: 2rem;
	top: 5px;
	outline: none;

}
.close:hover{
	color: #c61717;
	transition: 0.2s;
}






/* -----------------------------------------------

                  КОНТАКТЫ

---------------------------------------------------
 */
.contact{
		margin-bottom: 50px;
		margin-top: -40px;
}
.contact-icons i {
	
	display:inline-block;
    font-size: 100px;
    color:#333;
    transition: 0.2s;

}
.contact-icons i:hover {
	color: #c61717;
	cursor: pointer;
    transform: scale(1.2);
}
.contact-slogan{
    color:#c61717;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
.contact-ps{
	font-size: 22px;

}



/* .........................................

		FOOTER

		.......................................... */
.footer	{
	background-color: #3a052e;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 15px;


}
.footer p{
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 20px;
	
}

.footer__logo{
	font-family: 'Russo One', sans-serif;
	
}
p.footer__logo{
	font-size: 40px;
}

p.footer-icons a{
	color: white;
	text-decoration: none;
	margin-left: 10px;
	transition: 0.2s;

}



p.footer-icons a:hover{
	color: #e0ca04;
	transition: 0.2s;
}




/* -----------------------------------------------
 
                    КНОПКА ВВЕРХ

--------------------------------------------------*/

#toTop {
width:100px;
text-align:center;
padding:5px;
position:fixed;
bottom:100px; /* отступ кнопки от нижнего края страницы*/
right:40px;
cursor:pointer;
display:none;
color:#333;
font-size: 30px;
transition: 0.2s;
}
#toTop:hover{
	color: #c61717;
	transition: 0.2s;

}

@media (max-width: 1160px) {
	.container {
		width: 100%;  
	}

	body{
		font-size: 12px;
		
	}
	img {   max-width: 100% 
			}

	.col-lg-4 {
		width: 100%;
		box-sizing: content-box;

		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px
		text-align: center;

	}
    .nav a{
		display: none;
	}
	hr{
		display: none;
	}
	.nav-social a{
		display: none;
	}
	#home h1{
		font-size: 60px;
	}
	#home h3{
		font-size: 20px;
	}
	.section-header{
		font-size: 40px;
		margin-bottom: 5px;
	}
	#pic {
		margin-bottom: 20px;
	}
	.portfolio img{

	}

	.portfolio-block{
		margin-bottom: 20px;
	}
	.portfolio p{
		font-size: 20px;
		margin-top: -30px;
	}
	   .icon-up-open-big{
	display: none;
	}